.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 43.4px);
	position: relative;
}

@media (max-width: 575.98px) {
	.wrapper {
		align-items: flex-start;
	}
}