.link {
	display: inline-block;
	text-decoration: none;
	padding: 12px;
	font-weight: 700;
	color: #f0f4f5;
}

.link.active {
	color: #e84a5f;
}

.disactive {
	margin: 0 auto;
	width: 20px;
	height: 20px;
	background-color: #F00;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
	-webkit-animation: blinkRed 0.5s infinite;
	-moz-animation: blinkRed 0.5s infinite;
	-ms-animation: blinkRed 0.5s infinite;
	-o-animation: blinkRed 0.5s infinite;
	animation: blinkRed 0.5s infinite;
}

.wrapper {
	display: flex;
	align-items: center;
}